<!DOCTYPE html>
<html ng-app="padaApp">
<head>
    <title>Administrador de logistica y produccion</title>
    <link rel="icon" href="icon.png">
    
 	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="vendor/calendar/fullcalendar/dist/fullcalendar.css"/>
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- My styles -->
 	<link href="styles/pada.css" rel="stylesheet">
    
    <!-- 3rd party stuff -->
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-smart-table/smart-table.min.js"></script>
    <script src="vendor/angular-route/angular-route.min.js"></script>
	<script src="vendor/angular-animate/angular-animate.min.js"></script>
	<script src="vendor/angular-touch/angular-touch.min.js"></script>
	<script src="vendor/ui-bootstrap-tpls/ui-bootstrap-tpls-1.3.3.min.js"></script>
	<script src="vendor/angular-cookies/angular-cookies.min.js"></script>
		
	<!-- jquery, moment, and angular have to get included before fullcalendar -->
	<script type="text/javascript" src="vendor/calendar/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="vendor/calendar/moment/min/moment.min.js"></script>
	<script type="text/javascript" src="vendor/calendar/angular-ui-calendar/src/calendar.js"></script>
	<script type="text/javascript" src="vendor/calendar/fullcalendar/dist/fullcalendar.min.js"></script>
	<script type="text/javascript" src="vendor/calendar/fullcalendar/dist/gcal.js"></script>
	<script type="text/javascript" src="vendor/calendar/fullcalendar/dist/lang/es.js"></script>
	<script type="text/javascript" src="vendor/Chart/dist/Chart.min.js"></script>
	<script type="text/javascript" src="vendor/angular-chart/dist/angular-chart.min.js"></script>

 	<!-- Angular js initialization file -->
 	<script src="app.js"></script>
 	
 	<!-- My services -->
 	<script src="scripts/controllers/rest.js"></script>
 	<script src="scripts/controllers/auth.js"></script>
 	
 	<!-- My controllers -->
 	<script src="scripts/controllers/homeController.js"></script>
	<script src="scripts/controllers/productsController.js"></script>
 	<script src="scripts/controllers/indexController.js"></script>
 	<script src="scripts/controllers/clientController.js"></script>
 	<script src="scripts/controllers/salesController.js"></script>
 	<script src="scripts/controllers/purchasesController.js"></script>
 	<script src="scripts/controllers/storesController.js"></script>
 	<script src="scripts/controllers/calendarController.js"></script>
 	<script src="scripts/controllers/statisticsController.js"></script>
 	<script src="scripts/controllers/loginController.js"></script>
 	
</head>
	
	<body class="{{bodyClass}}">
		<nav class="{{active}}" ng-if="location.path() !== '/login'" ng-controller="homeController">
			<a href="#/sales" class="sales" ng-click="active='sales'">Ventas</a>
			<a href="#/purchases" class="purchases" ng-click="active='purchases'">Compras</a>
			<a href="#/stores" class="stores" ng-click="active='stores'">Mercados</a>
			<a href="#/products" class="products" ng-click="active='products'">Productos</a>
			<a href="#/clients" class="clients" ng-click="active='clients'">Clientes</a>
			<a href="#/calendar" class="calendar" ng-click="active='calendar'">Calendario</a>
			<a href="#/statistics" class="statistics" ng-click="active='statistics'">Estadisticas</a>
			<a href="#/login" class="pull-right" ng-click="logout()">Logout</a>
		</nav>

		<div ng-view></div>
	</body>

</html>